body, html{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    height: 100%;
    font-family: 'Arial', 'Helvetica', sans-serif;
}
.header {
    z-index: 1;
    width: 100%;
    top: 0;
    display: flex;
    position: fixed;
    transition: opacity 0.3s ease, visibility 0.3s ease;
}
#bottom-focus:focus ~ .header {
    transform: translateY(-100%);
}
#top-focus:focus ~ .header {
    transform: translateY(0);
}
.header .logo {
    width: 15%;
    background-color: white;
}
.header img {
    padding-left: 40px;
    height: 40px;
    margin-top: 5px
}
.navbar {
    background-color: #24147a;
    width: 85%;
    overflow: hidden;
    border-bottom-left-radius: 20px;    
}
.navbar a {
    float: right;
    display: block;
    color: white;
    text-align: center;
    padding: 14px 20px;
    text-decoration: none;
    width: 12%;
}     
.navbar a:hover {
    background-color: #ddd;
    color: black;
}
.footer {
    background-color: #24147a;
    color: white;
    padding: 20px;
    text-align: left;
    position: relative;
    margin: 0;
    overflow: hidden;
}
.footer-container {
    max-width: 80%;
    margin: 0 auto;
}
.contact-info h3 {
    margin-top: 0;
}
.contact-info ul {
    list-style-type: none;
    padding: 0;
}
.contact-info li {
    margin-bottom: 8px;
}
.contact-info a {
    color: white;
    text-decoration: none;
}
.contact-info a:hover {
    text-decoration: underline;
}


.content {
    display: flex;
    height: 100%;
    align-items: right;
    justify-content: start;
    flex-direction: column;
    text-align: center;
    padding: 50px 5%;
    margin-top: 30px;
}
.btn {
    display: inline-block;
    padding: 10px 20px;
    background-color: #0dabd0;
    color: white;
    text-align: center;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.btn:hover {
    background-color: #0056b3;
}


/* home style */
.homecontent {
    margin-top: 70px;
}


/* houselist style */
.searchbar {
    margin-bottom: 15px;
    width: 40%;
    margin-left: 40px;
    padding: 10px;
    border-radius: 5px;
    box-sizing: border-box;
    border: solid 0.5px #555;
}
#boarding-house-list {
    margin-left: 30px;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}
.item {
    width: 245px;
    height: auto;
    padding: 15px;
    border-radius: 7px; 
    display: flex;
    flex-direction: column;
    text-align: left;
    transition: box-shadow 0.3s ease;
}
.item:hover {
    box-shadow: 0px 1px 7px rgba(0, 0, 0, 0.2);
}
.item a {
    text-decoration: none;
    color: black;
}
.item .img-container {
    width: 240px;
    height: 173px;
}
.item img {
    width: 100%;
    object-fit: cover;
    border-radius: 5px;
}
.item-actions {
    margin-top: 7px;
    text-align: right;
    padding-right: 10px;
    color: black;
}
.item-actions button {
    height: 30px;
    width: 30px;
    margin-left: 2px;
    text-decoration: none;
    border-radius: 10px;
    background-color: white;
    border: none;
    font-size: medium;
}
.item-actions button:hover {
    background-color: lightgray;
}
.short-info {
    padding: 10px;
    margin-top: 5px;
}i
.short-info p {
    margin: 5px 0 0;
    font-size: 16px;
    color: #666;
}
.short-info h3 {
    margin: 0;
    font-size: 18px;
}


/* individual room information style */
.roominfo {
    display: flex; 
    text-align: left;
    margin: 30px;
    margin-left: 50px;
}
.room-pict {
    margin-right: 20px;
}
.room-pict img {
    width: 350px;
    height: 250px;
    object-fit: cover;
    border-radius: 5px;
}
.description {
    flex: 1; 
    overflow: hidden;
    margin-left: 30px;
}
.deschead {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.buttons {
    display: flex;
    flex-direction: row;
    gap: 5px;
}
.desc h2, .desc p {
    margin: 5px 0; 
}


/* Manage Property styling */
.boarding-house {
    text-align: left;
}
.boarding-house h2 {
    margin-left: 50px;
}
.owner_functions {
    width: 100%;
    margin-left: 40px;
    align-items: center;
    text-align: left;
}


/* Bookmark, application, and ongoing application styling */
.bookmark-list, .application-list {
    margin-left: 30px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 10px;
}
.bookmark, .application { 
    width: 85%; 
    height: auto;
    padding: 10px;
    border-radius: 7px; 
    text-align: left;
    border: none;
    border-radius: 10px;
    box-shadow: 1px 2px 5px rgba(0, 0, 0, 0.1);
}
.bookmark a, .application {
    display: flex;
    flex-direction: row;
    text-decoration: none;
    color: black;
    gap: 15px;
}
.bookmark img {
    width: 240px;
    height: 160px;
    object-fit: cover;
    border-radius: 5px;
}
.bookmark .bookmark-info, .application .application-detail {
        width: 90%;
}
.application-detail {
    padding-left: 15px;
    display: flex;
    flex-direction: row;
}
.applicant-info, .applied-room, 
.user-applied-room, .homeowner-info{
    width: 50%;
}
.bookmark-actions, .application-actions {
    width: min-content;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 5px;
    padding-right: 10px;
    color: black;
    position: relative;
    right: 0%;
    }
.bookmark-actions button {
    height: 30px;
    width: 30px;
    margin-left: 10px;
    text-decoration: none;
    border-radius: 10px;
    background-color: white;
    border: none;
    font-size: medium;
}
.application-actions button {
    height: fit-content;
    width: fit-content;
    padding: 0;
    background-color: white;
    border: none;
    border-radius: 10px;
    font-size: large;
}
.bookmark-actions button:hover {
    background-color: lightgray;
}
.user-application-detail {
    width: 80%;
    background-color: #0056b3;
}
.application-status {
    width: 20%;
    text-align: center;
    align-self: center;
}
